<html>
  <head>
    <title>Part 2: Status to Web</title>
  </head>
  <body>
    <input type="button" id="btn_run" value="Run Backend Process"> 
    <pre id='status_messages'></pre>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/local.js"></script>
  </body>
<html>